.about-container {
  display: block;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.my-portfolio-image-wrapper {
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 2px #757575;
  margin: 50px;
  margin-left: 150px;
  margin-bottom: 145px;
}

.my-portfolio-image {
  width: 100%;
}

.about-me-wrapper {
  display: inline-block;
  font-size: 30px;
  color: white;
  width: 50%;
  line-height: 1.8;
}

.background-text {
  position: absolute;
  top: 70;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  padding-bottom: 100px;
  overflow: hidden;
  color: #525252;
  font-size: 300px;
}

p {
  i {
    color: #ff8c69;
  }

  b {
    color: #3cffe7;
  }
}
