:root {
  --portfolio-dark-gray: #303036;
  --portfolio-light-gray: #757575;
  --portfolio-orange: #ff8c69;
  --portfolio-blue: #3cffe7;
}

body {
  margin: 0;
  background-color: #303036;
  font-family: sans-serif;
}
