form {
  padding-top: 10%;
  display: grid;
  justify-content: center;
  align-content: center;

  /* Change autocomplete styles in WebKit */
  #ending-title {
    font-size: 80px;
    color: var(--portfolio-light-gray);
  }

  #ending-title-outline {
    color: #303036;
    text-shadow: -1px 0 var(--portfolio-light-gray),
      0 1px var(--portfolio-light-gray), 1px 0 var(--portfolio-light-gray),
      0 -1px var(--portfolio-light-gray);
  }

  button {
    justify-self: center;
    border-color: var(--portfolio-blue);
    color: var(--portfolio-blue);
    background-color: transparent;
    border-radius: 20px;
    font-size: 30px;
    width: 200px;
    height: 60px;
    outline: none;
  }

  input {
    color: var(--portfolio-blue);
    outline: none;
    font-size: 30px;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 20px;
    background: transparent;
    border-style: none;
    border-bottom: 1px solid rgba(185, 185, 185, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    &::placeholder {
      color: var(--portfolio-blue);
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--portfolio-blue);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--portfolio-blue);
    }
    &:-webkit-autofill::first-line,
    &:-webkit-autofill {
      font-size: 50px;
      -webkit-transition-delay: 99999s;
    }
  }
}

#contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  color: var(--portfolio-light-gray);

  li {
    border-top: 2px solid var(--portfolio-orange);
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
  }
}

#contact {
  height: 100vh;
}

.imgBuffer {
  text-align: center;
  height: 150px;
  img {
    width: 50px;
  }
}
