nav {
  width: 100%;
  position: fixed;
  z-index: 9999;

  ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1.5fr 0.5fr;
    padding-left: 0;

    #nav-links {
      justify-self: start;
      margin-left: 45px;

      li {
        display: inline-grid;
        a {
          color: var(--portfolio-white);
          text-align: center;
          font-size: 20px;
          font-weight: lighter;
          text-decoration: none;
          padding: 16px 25px;
          &:hover {
            padding: 0;
            color: var(--portfolio-orange);
          }
          img {
            width: 200px;
          }
        }
      }
    }
    #nav-icons {
      justify-self: end;
      margin-right: 45px;
      li {
        display: inline-grid;
        img {
          height: 30px;
          padding: 16px 25px;
        }
      }
    }
  }
}
