.project-container {
  display: flex;
  overflow: auto;
  flex: none;

  & > div {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    margin: 0 auto;
    flex: none;

    &:nth-child(even) {
      background-color: var(--portfolio-projects-green);
    }

    &:nth-child(odd) {
      background-color: var(--portfolio-projects-blue);
    }
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    .mobile {
    }
    .desktop {
    }
    h1 {
      color: var(--portfolio-black);
    }
  }
}

/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}
