.title-container {
  height: 100vh;
  background-image: url(/images/landing_page_background.png);
  background-repeat: no-repeat;
  background-size: 100%;

  h1 {
    margin: 0;
    padding-top: 130px;
    padding-left: 120px;
    color: var(--portfolio-orange);
    font-size: 200px;
    text-shadow: var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px, var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px, var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px;
  }

  h2 {
    margin-bottom: 0;
    margin-left: 35%;
    font-size: 100px;
    color: #303036;
    text-shadow: -1px 0 var(--portfolio-blue), 0 1px var(--portfolio-blue),
      1px 0 var(--portfolio-blue), 0 -1px var(--portfolio-blue),
      var(--portfolio-black) 0px 0px 3px, var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px;
  }

  h3 {
    margin: 0;
    font-size: 90px;
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--portfolio-blue);
    text-shadow: var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px, var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px, var(--portfolio-black) 0px 0px 3px,
      var(--portfolio-black) 0px 0px 3px;
  }

  #designer {
    margin-left: 55%;
    margin-top: -10%;
  }

  #developer {
    margin-left: 50%;
  }
}
