:root {
  --portfolio-dark-gray: #303036;
  --portfolio-light-gray: #757575;
  --portfolio-orange: #ff8c69;
  --portfolio-blue: #3cffe7;
}

body {
  margin: 0;
  background-color: #303036;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  color: #ff8c69;
  font-size: 200px;
}

#web-border {
  margin: 0;
  font-size: 90px;
  color: #303036;
  text-shadow: -1px 0 #3cffe7, 0 1px #3cffe7, 1px 0 #3cffe7, 0 -1px #3cffe7;
}

.landing-page-blue-text {
  margin: 0;
  font-size: 90px;
  color: #3cffe7;
}

p i {
  color: #ff8c69;
}

p b {
  color: #3cffe7;
}

#ending-title {
  font-size: 125px;
  color: #757575;
}

#ending-title-outline {
  color: #303036;
  text-shadow: -1px 0 #757575, 0 1px #757575, 1px 0 #757575, 0 -1px #757575;
}

input {
  display: block;
}
